:root {
  --backgroundC: #f4f4f4;
  --cardBackgroundC: #fff;
  --homeC: #112F41;
  --galleryC: #068587;
  --animateBoxC: #4FB99F;
  --contactC: #F2B134;
  --forgeticaC: #ED553B;
  --forgeticaC-hover: #bc1e03;
  --shadowC: rgba(0, 0, 0, 0.2);
}
