@font-face {
    font-family: Coder;
    src: url(../fonts/ClassCoder.ttf);
}
@font-face {
    font-family: Cormorant;
    src: url(../fonts/CormorantSC-Regular.ttf);
}
@font-face {
    font-family: SansForgetica;
    src: url(../fonts/SansForgetica-Regular.otf);
}
